<div class="detail-container" *ngIf="product">

        <div class="img">
            <img [src]="product.url" alt="">
        </div>
        <div class="detail-item">

            <h2>{{product.name}}</h2>
            <h3>{{product.price|currency}}</h3>
            <p>{{product.description}}</p>
        <input class="select-input" #inpMount type="number" name="numofcat" min="1" [defaultValue]="1">
        <button type="button" (click)="addToCart(product,inpMount.value)" class="btn btn-primary">Add to cart</button>
        <a  [routerLink]="['/products']" >Back to Products</a>
    </div>
</div>
