.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.detail-item {
  
  display: inline-block; 
  justify-content: center;
  align-items: center;
  
}
img {
  border-radius: 10px;
  width: 14%;
  margin-right: 10%;
  }
  input[type="number"] {
    width: 60%;
    text-align: center;
  }
  
  button{
    display: block;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }