<div class="detail-container" *ngIf="product">
    <img class="product-img" [src]="product.url" alt="{{product.name}}">

    <div class="detail-item">
        <h3>{{product.name}}</h3>
        <h5>{{product.price | currency}}</h5>
        <p>{{product.description}}</p>
        <input class="form-control mt-2" #inpMount type="number" name="numofcat" min="1" [value]="1">
        <button type="button" (click)="addToCart(product, inpMount.value)">Add to cart</button>
        <a class="mt-4" [routerLink]="['/products']">Back to Products</a>
    </div>
</div>
