.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin-bottom: 64px;
    margin-right: 8%;
  }
  
  .product-container {
    display: flex;
    margin:5% 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  
  