<div class="card-container">
  <div class="card">
    <div class="image-container">
      <img class="image" [src]="prd.url" (click)="prdItem(prd.id)" alt="{{prd.name}}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{prd.name}}</h5>
      <h5 class="card-price">{{prd.price | currency}}</h5>
      <input type="number" name="numofcat" #inpMount min="1" [defaultValue]="1">
      <button type="button" (click)="addToCart(prd, inpMount.value)" class="btn btn-primary">Add to cart</button>
    </div>
  </div>
  </div>
  <!-- Success Confirmation Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Success</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center ">You Added <b>{{quantity}}</b> of <b>{{prd.name}}</b> in cart</p>
			</div>
      <button [routerLink]="['/cart']" class="btn btn-success btn-block" data-bs-dismiss="modal">Open Cart</button>
		</div>
	</div>
</div>

  
